{% extends 'base.html.twig' %}

{% import 'block/breadcrumb.html.twig' as breadcrumb %}
{% set listfonticons = ['fa fa-home', '', '', ''] %}
{% set listname = ['Epicerie asiatique', 'Espace client'] %}
{% set listurls = ['home', 'app_profil'] %}

{% set description = "Bienvenue dans votre espace client" %}
{% set keywords = "" %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content container">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    {{ breadcrumb.show(listname, listurls, listfonticons) }}
                </div>
            </div>

            <section class="container mt-5">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-5 p-5 mb-5 shadow bg-white rounded">
                        <h1 class="mb-5">Votre profile</h1>
                        {{ app.user.userIdentifier }}
                    </div>
                </div>
                <div class="mt-5 d-flex justify-content-end">
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-success">Me déconnecter</a>
                </div>
            </section>
        </div>
    </div>
    </div>
{% endblock %}