{% extends 'base.html.twig' %}

{% import 'block/breadcrumb.html.twig' as breadcrumb %}
{% set listfonticons = ['fa fa-home', '', '', ''] %}
{% set listname = ['Epicerie asiatique', 'Espace client'] %}
{% set listurls = ['home', 'app_profil'] %}

{% set description = "Bienvenue dans votre espace client" %}
{% set keywords = "" %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content container">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    {{ breadcrumb.show(listname, listurls, listfonticons) }}
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-md-offset-6">
                    {{ app.user.userIdentifier }}
                </div>
                <div class="col-md-3 mt-5">
                    <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}